body {
    margin: 0px;
    overflow: hidden;
}

#arjsDebugUIContainer {
    display: none;
}

#tracking-panel {
    position: fixed;
    top: 10px;
    width:100%;
    text-align: right;
    z-index: 1;
    /* text-shadow:-1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}

.compass {
    position: fixed;
    width: 25%;
    padding-top: 100%;
    text-align: center;
    bottom: 10px;
    left: 10px;
    z-index: 1;
  }
  
    .compass__rose {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
      .compass__rose__dial {
        height: 100%;
        width: 100%;
      }
  
    .compass__pointer {
      height: 100%;
      width: 100%;
    }
  