body {
    margin: 0px;
    overflow: hidden;
}

#arjsDebugUIContainer {
    display: none;
}

#tracking-panel {
    position: fixed;
    top: 10px;
    width:100%;
    text-align: right;
    z-index: 1;
}

.container {
    position: absolute;
    overflow: hidden;
    width: 25%;
    height: 25%;
    bottom: 10px;
    left: 10px;
    transition: -webkit-transform 0.5s ease-out 0s;
    transition: transform 0.5s ease-out 0s;
    opacity: 50%;
  }

.compass {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
    .compass__rose {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
      .compass__rose__dial {
        height: 100%;
        width: 100%;
      }
  
    .compass__pointer {
      height: 100%;
      width: 100%;
    }
  